<!-- views/partials/playerCard.hbs -->

<div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src="https://media.cnn.com/api/v1/images/stellar/prod/230523093708-01-lebron-james-052223.jpg"
      alt="Lebron James"
    />
    <div class="card-body">
      <h5 class="card-title">Lebron James</h5>
      <p class="card-text">CLE</p>
    </div>
  </div>
</div>
