<!-- views/index.hbs -->

<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://hoopshype.com/wp-content/uploads/sites/92/2022/09/top_76.png" alt="NBA players">
        <div class="card-body">
          <h5 class="card-title">Players</h5>
          <p class="card-text">Check the top NBA players, according to Ironhack Curriculum staff.</p>
          <a href="/players" class="btn btn-primary">See Players</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://res.cloudinary.com/zenbusiness/image/upload/v1670445040/logaster/logaster-2020-06-image8.png"
            alt="NBA teams">
        <div class="card-body">
          <h5 class="card-title">Teams</h5>
          <p class="card-text">Here we can check all NBA Teams</p>
          <a href="/teams" class="btn btn-primary">See Teams</a>
        </div>
      </div>
    </div>
  </div>
</div>
